#map {
    background-color: #9EB3B9;
    color: #FDF7ED;
    width: 500px;
    height: 500px;
}

#zipinput {
    color: #152E4D;
}

#attributes{
    height:500px;
}

body {
    background-color: #152E4D;
}

.border {
    background-color: #FDF7ED;
}

.botBorder {
    border-bottom: 1px solid;
}

input {
    border: none;
    margin-bottom: 10px;
}

.summary {
    margin-bottom: 50px;
    background-color: #9EB3B9;
}

font {
    color: #FDF7ED;
}

.rating {
    font-size: 20px;
}

.navbar-brand {
    color:#FDF7ED;
}

.nav-link {
    color:#9EB3B9;
    padding-top:4px;
    padding-left:8px;
}
nav a,
nav a:focus,
nav a:hover {
  color: #fdf7ed;
  text-shadow: none;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #9eb3b9;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #9eb3b9;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #9eb3b9;
  border-bottom-color: #9eb3b9;
}
